<div class="container">
    <h1>Worker Dashboard</h1>
    
    <button class="button" (click)="goPreviousWeek()">Previous Week</button>
    <button class="button" (click)="goNextWeek()">Next Week</button>
  
    <h2>{{ WeekStart | date:'mediumDate' }} - {{ WeekEnd | date:'mediumDate' }}</h2>
  
    <table border="1" *ngIf="weekDates?.length && jobs?.length">
      <tr>
        <th>&nbsp;</th>
        <th *ngFor="let day of weekDates">
          <div>{{ day.day }} {{ day.month }}</div>
          <div>{{ day.weekday }}</div>
        </th>
      </tr>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.title }}</td>
          <td *ngFor="let weekday of weekDates"> 
            <div *ngFor="let day of WeekSchedule">
              <span *ngIf="day.jobTitle==job.title && day.startTime.getDate()==weekday.day">{{getshifttime(day)}}-{{ day.firstName }}&nbsp;{{ day.lastName }}</span>
              <span *ngIf="day.jobTitle !== job.title" class="empty-slot"></span>
            </div>  
          </td>
        </tr>
      </tbody>
    </table>
  
    <h2>Choose Date</h2>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <div>
      <mat-button-toggle-group [(ngModel)]="selectedShift" name="shift">
        <mat-button-toggle value="T08:00:00.000Z-T18:00:00.000Z">Morning Shift</mat-button-toggle>
        <mat-button-toggle value="T18:00:00.000Z-T22:00:00.000Z">Evening Shift</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <button class="button" (click)="addSchedule()" [disabled]="selectedDate==null">Add Schedule</button>
  </div>
  
