<div class="container">
    <h1>Admin</h1>
    
    <button class="button" (click)="goPreviousWeek()">Previous Week</button>
    <button class="button" (click)="goNextWeek()">Next Week</button>
  
    <h2>{{ WeekStart | date:'mediumDate' }} - {{ WeekEnd | date:'mediumDate' }}</h2>
  
    <table border="1" *ngIf="weekDates?.length && jobs?.length">
      <tr>
        <th>&nbsp;</th>
        <th *ngFor="let day of weekDates">
          <div>{{ day.day }} {{ day.month }}</div>
          <div>{{ day.weekday }}</div>
        </th>
      </tr>
      <tbody>
        <tr *ngFor="let job of jobs">
          <td>{{ job.title }}</td>
          <td *ngFor="let weekday of weekDates"> 
            <div *ngFor="let day of dashboard"
            (mouseenter)="hoveredDay = day" 
            (mouseleave)="hoveredDay = null">
              <span class="span"
              *ngIf="day.jobTitle==job.title 
              && day.startTime.toDateString()== weekday.daydate.toDateString() 
              && day.isApproved==true">
              
              {{getshifttime(day)}}-{{ day.firstName }}&nbsp;{{ day.lastName }} 

              <button 
              *ngIf="hoveredDay === day"
              class="button"
              (click)="removeRequest(day.id)"
              >
              Delete
              </button>

              </span>             
              <span *ngIf="day.jobTitle !== job.title" class="empty-slot"></span>
            </div>  
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container">
  <mat-button-toggle-group [(ngModel)]="ShowControl" name="shift">
  <mat-button-toggle  value="1" class="button" (click)="ShowRequests()">Schedule requests</mat-button-toggle>
  <mat-button-toggle  value="2" class="button" (click)="ShowUsers()">Show Users</mat-button-toggle>
  <mat-button-toggle  value="3"  class="button">Show Jobs</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="container">
  <div *ngIf="ShowControl==1">
    <div  *ngFor="let worker of dashboard;">
    <ul class="scrollable-box" *ngIf="worker.isApproved==false">
        <li>Id:-{{worker.id}}</li>
        <li>StartTime:-{{worker.startTime.toDateString()}} </li>
        <li>EndTime:-{{worker.endTime}}</li>
        <li>UserId:-{{worker.userId}}</li>
        <li>FirstName:-{{worker.firstName}}</li>
        <li>LastName:-{{worker.lastName}}</li>
        <li>JobId:-{{worker.jobId}}</li>
        <li>JobTitle:-{{worker.jobTitle}}</li>
        <li>IsApproved:-{{worker.isApproved}}</li>
      
        <button class="button" (click)="acceptRequest(worker.id)">Accept Schedule</button>
        <button class="button" (click)="removeRequest(worker.id)">Decline Schedule</button>
      </ul>
   </div>
  </div>
  <div *ngIf="ShowControl==2">
    <ul class="scrollable-box" *ngFor="let user of users;">
      <li>Id:-{{user.id}}</li>
      <li>FirstName:-{{user.firstName}}</li>
      <li>LastName:-{{user.lastName}}</li>
      <li>JobId:-{{seeTitle(user.jobId)}} </li>
      <button class="button" (click)="removeUser(user.id)">delete User</button>
      <button *ngIf="user.roleId===1" class="button" (click)="changeUserRole(2)">change to Worker</button>
      <button *ngIf="user.roleId===2" class="button" (click)="changeUserRole(1)">change to Admin</button>
    </ul>
  </div>

  <div *ngIf="ShowControl==3">
    <input [(ngModel)]="newJob" placeholder="Enter new Job Title">
    <button class="button" (click)="addNewJOb(newJob)">Add Job</button>
    <ul class="scrollable-box" *ngFor="let job of jobs;">
      <li>Id:-{{job.id}}</li>
      <li>Title:-{{job.title}}</li>

      <button class="button"   (click)="removeJob(job.id);"  >delete Job</button>
    </ul>
  </div>

</div>


